<p>star works!</p>

<br>
<div class="container">
    <div class="row">
      <div class="col-md">
        
      </div>
      <div class="col-md">
        <i class= "bi fa-10x" 
           [class.bi-star-fill]="isFavorite" 
           [class.bi-star]="!isFavorite"  
           (click)="myFavorite()"></i>
      </div>
      <div class="col-md">
       
      </div>
    </div>
    <div class="row">
        <div class="col-md">
          
        </div>
        <div class="col-md">
            
        </div>
        <div class="col-md">
         
        </div>
      </div>
  </div>
